:root {
  --basic-system-font: "Montserrat", -apple-system, BlinkMacSystemFont,
    avenir next, segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto,
    noto, arial, sans-serif;
}

body {
  font-family: var(--basic-system-font);
  /* cursor: url("../images/1.png"), auto; */
  font-weight: bold;

  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  background-color: blueviolet;
  /* color: #f4c144; */
  color: #001d5f;
  /* background-color: white; */
  background-color: white;

  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
}

h2,
h3,
p {
  text-align: center;
}

p {
  margin: 0;
  padding: 0;
}

h2 {
  font-size: 25px;
}

img {
  display: block;
}

.container {
  /* padding-left: 15px;
  padding-right: 15px; */
  margin: 0 auto;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

li {
  list-style: none;
}

/* item-1 */
.wapper-boy {
  display: flex;
  align-items: center;
}

.title {
  text-align: center;
  text-transform: uppercase;
}

.subtitle {
  text-align: center;
  color: #001d5f;
}

.subtext {
  margin-bottom: 10px;
}

.music-block {
  display: flex;
  background-color: transparent;
  margin-bottom: 10px;
  align-items: center;
  padding: 10px 20px;
  border-radius: 8px;
  font-size: 20px;
  box-shadow: 10px 5px 5px black;
}

.blue {
  background-color: #446df4;
}

.wapper-girl {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 10px;
}

.subtitle-write {
  margin-top: 15px;
  margin-bottom: 10px;
}

.submit {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
  margin-bottom: 35px;
  padding: 15px 30px;
  border-radius: 8px;
  background-color: transparent;
  box-shadow: 10px 5px 5px black;
  vertical-align: middle;
}

.submit:hover {
  background-color: white;
}

/* .list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
} */

/* .list li {
  padding: 20px;
  width: 601px;
} */

.js-form {
  display: block;
  margin: 0 auto;
  max-width: 300px;
}

.right {
  display: flex;
  justify-content: flex-end;
}

.blue-color {
  background-color: #446df4;
}

.yellow-color {
  background-color: #f4c144;
}

.yellow {
  background-color: #f4c144;
}

.yellow-2 {
  border-bottom: 5px solid #ffd700;
}

.blue-2 {
  border-bottom: 5px solid #0096ff;
}

.icon-btn {
  font-size: 20px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.btn-icon1 {
  display: flex;
  margin-right: 10px;
  fill: #001d5f;
}

.btn-icon1:hover {
  fill: #ffffff;
}

.btn-icon2 {
  display: flex;
  margin-right: 10px;
  fill: #001d5f;
}

.btn-icon2:hover {
  fill: #ffffff;
}

.title-btn2 {
  font-size: 10px;
}

.text {
  color: white;
}

label {
  display: block;
}

input {
  width: 100%;
  height: 100%;
  padding: 10px;
  border-top: none;
  border-left: none;
  border-right: none;
  background-color: transparent;
  outline: none;
  margin-bottom: 10px;
  color: white;
  font-size: 19px;
}

input::placeholder {
  color: #001d5f;
}

.input-boy {
  border-bottom: 5px solid blue;
}

.input-girl {
  border-bottom: 5px solid yellow;
}

/* .item-01.gray3 {
  background-color: tomato;
} */

.item-01.gray2 {
  background-color: #2ecc71;
}

.item-color-02.green {
  background-color: #2ecc71;
}

.item-color-03.green {
  background-color: #2ecc71;
}

.item-color-04.green {
  background-color: #2ecc71;
}

.item-color-06.green {
  background-color: #2ecc71;
}

/* .item-color-02.red {
  background-color: tomato;
} */

.emoji {
  font-size: 20px;
}

.block-2 {
  flex-direction: column;
}

.block {
  flex-direction: column;
  align-items: flex-start;
}

.block-girl {
  align-items: flex-end;
  flex-direction: column-reverse;
}

.magrin-right {
  margin-right: 10px;
}

.voice-text-en {
  color: white;
  /* text-shadow: 3px 4px 5px black; */
}

.voice {
  cursor: pointer;
}
/* 
.image-boy {
  border-radius: 50px;
  border: 3px solid gray;
  overflow: hidden;
} */

.flex {
  display: flex;
  align-items: flex-end;
}

.box-1 {
  max-width: 380px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #f4c144;
  border-radius: 10px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 165, 0, 0.5);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 15px;

  width: 100%;
  height: 100%;

  /* min-width: 300px;
  height: auto; */
  /* background-color: aliceblue; */
  background-color: #446df4;
}

@media screen and (min-width: 768px) {
  .modal {
    width: 600px;
  }
}
