:root {
  --basic-system-font: "Montserrat", -apple-system, BlinkMacSystemFont,
    avenir next, segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto,
    noto, arial, sans-serif;
}

body {
  font-family: var(--basic-system-font);
  /* cursor: url("../images/1.png"), auto; */
  font-weight: bold;

  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;

  color: #001d5f;
  background-color: white;
  /* background-color: #446df4; */

  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
}

h2,
h3,
p {
  text-align: center;
}

p {
  margin: 0;
  padding: 0;
}

h2 {
  font-size: 18px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

li {
  list-style: none;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.diary {
  width: 40px;
  height: 40px;
  border: none;
  background: none;
  display: block;
  margin-left: auto;
}

.students-diary {
  padding: 10px;
  border: 2px solid #b2beb5;
  border-radius: 10px;
  width: 220px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}

.students-diary li p {
  text-align: start;
  color: #b2beb5;
}

.list {
  margin-top: 30px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  gap: 30px;
}

.wapper-boy {
  display: flex;
  align-items: center;
}

.title {
  text-align: center;
  text-transform: uppercase;
}

.subtitle {
  margin-top: 0;
  text-align: center;
  color: #001d5f;
  font-size: 26px;
  margin-bottom: 5px;
}

.subtext {
  margin-bottom: 10px;
}

.music-block {
  max-width: 503px;
  display: flex;
  background-color: transparent;
  margin-bottom: 10px;
  align-items: center;
  padding: 5px 10px;
  border-radius: 8px;
  font-size: 20px;
  box-shadow: 10px 5px 5px black;
}

.blue {
  background-color: #446df4;
}

.wapper-girl {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 10px;
}

.subtitle-write {
  margin-top: 15px;
  margin-bottom: 10px;
}

.submit {
  display: block;
  margin-left: auto;
  margin-right: auto;
  /* margin-top: 25px; */
  /* margin-bottom: 35px; */
  padding: 15px 30px;
  border-radius: 8px;
  /* background-color: transparent; */
  box-shadow: 10px 5px 5px black;
  vertical-align: middle;
  background-color: #e5e4e2;

  transition: background-color 250ms linear;
}

.submit:hover {
  background-color: #2ecc71;
}

.js-form {
  display: block;
  margin: 0 auto;
  max-width: 300px;
}

.right {
  display: flex;
  justify-content: flex-end;
}

.yellow {
  background-color: #f4c144;
}

.yellow-2 {
  border-bottom: 5px solid #f4c144;
}

.blue-2 {
  border-bottom: 5px solid #446df4;
}

.icon-btn {
  font-size: 20px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.btn-icon1 {
  display: flex;
  margin-right: 10px;
  fill: #001d5f;

  transition: fill 250ms linear;
}

.btn-icon1:hover {
  fill: #ffffff;
}

.btn-icon2 {
  display: flex;
  margin-right: 10px;
  fill: #001d5f;

  transition: fill 250ms linear;
}

.btn-icon2:hover {
  fill: #ffffff;
}

.title-btn2 {
  font-size: 10px;
}

.text {
  color: white;
}

label {
  display: block;
}

input {
  width: 100%;
  height: 100%;
  padding: 10px;
  border-top: none;
  border-left: none;
  border-right: none;
  background-color: transparent;
  outline: none;
  margin-bottom: 10px;
  /* color: white; */
  font-size: 19px;
  /* font-weight: bolder; */
}
.font-weight {
  font-weight: bolder;
  /* letter-spacing: 1px; */
}

input::placeholder {
  color: #001d5f;
}

.input-boy {
  border-bottom: 5px solid #446df4;
}

.input-color-boy {
  color: #446df4;
}

.input-color-girl {
  color: #f4c144;
}

.input-girl {
  border-bottom: 5px solid #f4c144;
}

.item-01.gray2 {
  background-color: #2ecc71;
}

.item-color-02.green {
  background-color: #2ecc71;
}

.item-color-03.green {
  background-color: #2ecc71;
}

.item-color-04.green {
  background-color: #2ecc71;
}

.item-color-06.green {
  background-color: #2ecc71;
}

.emoji {
  font-size: 20px;
}

.block-2 {
  flex-direction: column;
}

.block {
  flex-direction: column;
  align-items: flex-start;
}

.block-girl {
  align-items: flex-end;
  flex-direction: column-reverse;
}

.magrin-right {
  margin-right: 10px;
}

.voice-text-en {
  color: white;
}

.voice {
  cursor: pointer;
}

.flex {
  display: flex;
  align-items: flex-end;
}

.closeModal-0 {
  width: 44px;
  height: 44px;
  display: block;
  margin-left: auto;
  /* margin-right: auto; */
  /* border: none; */
  border-radius: 50%;
  font-size: 24px;
  /* color: white; */
  cursor: pointer;

  /* background-color: #e5e4e2; */
  transition: background-color 250ms linear;
}

.closeModal-0:focus,
.closeModal-0:hover {
  background-color: #2ecc71;
  border-radius: 50%;
}

/* modal 1 ------------------------------------------- */
.box-styles {
  width: 320px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #446df4;
  border-radius: 10px;
  cursor: pointer;

  transition: background-color 250ms linear;
}

.box-styles:focus,
.box-styles:hover {
  background-color: #f4c144;
}

@media screen and (min-width: 768px) {
  .box-styles {
    width: 500px;
  }
}

.backdrop-1 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 165, 0, 0.5);

  opacity: 1;
  transition: opacity 250ms linear;
}

.backdrop-1.is-hidden-1 {
  opacity: 0;
  pointer-events: none;
}

.backdrop-1.is-hidden-1 .modal-1 {
  transform: scale(0.5);
  /* transform: translate(-50%, -50%) scale(0.7); */
}

.modal-1 {
  position: absolute;
  top: 50%;
  left: 50%;
  /* transform: translate(-50%, -50%); */
  padding: 15px;

  width: 100%;
  height: 100%;

  background-color: white;
  overflow: auto;
  /* pointer-events: none; */

  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms linear;
}

@media screen and (min-width: 768px) {
  .modal-1 {
    width: 600px;
  }
}
/* modal 2 ------------------------------------------- */
.backdrop-2 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 165, 0, 0.5);

  opacity: 1;
  transition: opacity 250ms linear;
}

.backdrop-2.is-hidden-2 .modal-2 {
  transform: translate(-50%, -50%) scale(0.5);
}

.backdrop-2.is-hidden-2 {
  opacity: 0;
  pointer-events: none;
}
.modal-2 {
  position: absolute;
  top: 50%;
  left: 50%;
  /* transform: translate(-50%, -50%); */
  padding: 15px;

  width: 100%;
  height: 100%;

  background-color: white;
  overflow: auto;
  /* pointer-events: none; */

  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms linear;
}

@media screen and (min-width: 768px) {
  .modal-2 {
    width: 600px;
  }
}

/* modal 3 ------------------------------------------- */
.backdrop-3 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 165, 0, 0.5);

  opacity: 1;
  transition: opacity 250ms linear;
}

.backdrop-3.is-hidden-3 .modal-3 {
  transform: translate(-50%, -50%) scale(0.7);
}

.backdrop-3.is-hidden-3 {
  opacity: 0;
  pointer-events: none;
}

.modal-3 {
  position: absolute;
  top: 50%;
  left: 50%;
  /* transform: translate(-50%, -50%); */
  padding: 15px;

  width: 100%;
  height: 100%;

  background-color: white;
  overflow: auto;
  /* pointer-events: none; */

  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms linear;
}

@media screen and (min-width: 768px) {
  .modal-3 {
    width: 600px;
  }
}

/* modal 4 ------------------------------------------- */
.backdrop-4 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 165, 0, 0.5);

  opacity: 1;
  transition: opacity 250ms linear;
}

.backdrop-4.is-hidden-4 .modal-4 {
  transform: translate(-50%, -50%) scale(0.7);
}

.backdrop-4.is-hidden-4 {
  opacity: 0;
  pointer-events: none;
}
.modal-4 {
  position: absolute;
  top: 50%;
  left: 50%;
  /* transform: translate(-50%, -50%); */
  padding: 15px;

  width: 100%;
  height: 100%;

  background-color: white;
  overflow: auto;
  /* pointer-events: none; */
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms linear;
}

@media screen and (min-width: 768px) {
  .modal-4 {
    width: 600px;
  }
}

/* modal 5 ------------------------------------------- */
.backdrop-5 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 165, 0, 0.5);

  opacity: 1;
  transition: opacity 250ms linear;
}

.backdrop-5.is-hidden-5 .modal-5 {
  transform: translate(-50%, -50%) scale(0.7);
}

.backdrop-5.is-hidden-5 {
  opacity: 0;
  pointer-events: none;
}
.modal-5 {
  position: absolute;
  top: 50%;
  left: 50%;
  /* transform: translate(-50%, -50%); */
  padding: 15px;

  width: 100%;
  height: 100%;

  background-color: white;
  overflow: auto;
  /* pointer-events: none; */
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms linear;
}

@media screen and (min-width: 768px) {
  .modal-5 {
    width: 600px;
  }
}

/* modal 6 ------------------------------------------- */
.backdrop-6 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 165, 0, 0.5);

  opacity: 1;
  transition: opacity 250ms linear;
}

.backdrop-6.is-hidden-6 .modal-6 {
  transform: translate(-50%, -50%) scale(0.7);
}

.backdrop-6.is-hidden-6 {
  opacity: 0;
  pointer-events: none;
}

.modal-6 {
  position: absolute;
  top: 50%;
  left: 50%;
  /* transform: translate(-50%, -50%); */
  padding: 15px;

  width: 100%;
  height: 100%;

  background-color: white;
  overflow: auto;
  /* pointer-events: none; */
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms linear;
}

@media screen and (min-width: 768px) {
  .modal-6 {
    width: 600px;
  }
}

/* Щоденник */
.backdrop-7 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 165, 0, 0.5);

  /* opacity: 1; */
  transition: opacity 350ms linear;
}

.backdrop-7.is-hidden-7 .modal-7 {
  /* transform: translate(-50%, -50%) scale(0.7); */
  transform: translateX(100%);
}

.backdrop-7.is-hidden-7 {
  opacity: 0;
  pointer-events: none;
}
.modal-7 {
  position: absolute;
  /* top: 50%;
  left: 50%; */
  /* top: 0; */
  right: 0;
  /* left: 0; */
  /* transform: translate(-50%, -50%); */
  padding: 15px;

  /* width: 100%; */
  height: 100%;

  background-color: white;
  overflow: auto;
  /* pointer-events: none; */
  /* transform: translate(-50%, -50%) scale(1); */
  transform: translateX(0);
  /* white-space: nowrap;
  overflow: hidden; */
  background-color: #446df4;

  transition: transform 250ms linear;
}

@media screen and (min-width: 768px) {
  .modal-7 {
    width: 600px;
  }
}

.btn-start {
  margin-bottom: 30px;
  cursor: pointer;
  /* background-color: tomato; */
  background-color: #b2beb5;
}
